.top-bar
{
	background-color: #030f0f;
	color: #ece2c6;
	width: 100%;
}

.top-bar .title
{
	font-family: "Manufacturing Consent", system-ui;
        font-size: 68px;
        text-align: center;
}

.eye
{
	top: 0;
	right: 0;
	padding-right: 7px;
	padding-top: 7px;
	position: fixed;
	width: 70;
}

body
{
	background-color: #041717;
	margin: 0;
}

.h1
{
	color: #ece2c6;
	font-family: "Manufacturing Consent", system-ui;
	font-size: 50px;
	margin: 35px;
}

.h3
{
        color: #f1e9d5;
}

.text
{
	font-family: "Orbitron", sans-serif;
	font-style: normal;
	color: #ece2c6;
	margin-right: 69px;
	margin-left: 35px;
}
